body{
 background-color: cornsilk;
}

#help_banner{
  z-index: 101;
  position: fixed;
  height: 80px;
  background-color: white;
  border:  double #AAB;
  top: 5px;
  width: 97.8%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: serif;
  font-weight: bold;
  font-size: 180%;
  color: #336;
}
.navigation_panel {
	float: right;
	width: 23%;
	margin: 5px 0 15px 10px;
	background-color: cornsilk;
	padding: 2px;
	color: indigo;
	border: double #AAB;
	font-family: sans-serif;
	font-size: 80%;
}
	
.navigation_panel > ul {
 padding-left: 2px;
}
	
#nav_header {
  text-align: center;
  background-color: #EEE6CB;
  padding: 4px 0;
  margin: 0 4px;
}

.nav_button:hover{
  font-weight: bold;
  letter-spacing: -0.7px;
}
	
.rest {
//  position: fixed;
  position: absolute;
  background-color: cornsilk;
  top: 93px;
  width: 98.3%;
  font-family: serif;
  font-size: 120%;
}

.section {
  position: fixed;
  background-color: cornsilk;
  padding: 0 5px;
  color: indigo;
  border-color: #e0e0e0;
  width: 73%;
  /* top: 88px; */
}
.sub_section {
  background-color: cornsilk;
  padding: 5px;
  color: indigo;
  border-color: #EEE6CB;
  width: 73%;
  /* top: 88px; */
}
.body_text {
  width: 100%;
}
	
.screenshot {
  position:relative;
  padding: 0px;
  width: 71%;
  border: 2px solid black;
}
h1 {
  /* position:relative; */
  padding: 0;
  margin: 0;
  font-size: 100%;
  color: blue;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  /* top: 4px; */
}

h2{
  color: red;
  background-color: #EEE6CB;
  font-family: sans-serif;
  margin: 9px 0 0 0;
  padding: 5px 2px;
}
p {
  position:relative;
  padding: 0 0 0 5px;
  color: darkgreen;
  border-color: #e0e0e0;
}
ul {
  background-color: cornsilk;
  padding: 0px 2px;
  line-height: 1.2;
  color: green;
  cursor: pointer;
  border-color: #e0e0e0;
  list-style:none inside none;
}
ul.sublist {
  position:relative;
  background-color: cornsilk; /* #e0e0e0; */
  padding: 0px;
  color: green;
  margin-bottom: 3px;
  border-color: #e0e0e0;
  list-style:disc inside none;
}

// and the rest from newlook.css:

@font-face {
font-family: 'Varietie3';
src: url('varietie4-webfont.eot');
src: local('âº'), url('varietie4-webfont.woff') format('woff'), url('varietie4-webfont.ttf') format('truetype'), url('varietie4-webfont.svg#webfontdMhCwbXf') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TabRegular';
src: url('tabfont-webfont.eot');
src: local('âº'), url('tabfont-webfont.woff') format('woff'), url('tabfont-webfont.ttf') format('truetype'), url('tabfont-webfont.svg#webfontfr7Oup7E') format('svg');
font-weight: normal;
font-style: normal;
}


.lute_pic_l{
  float: left;
  width: 20%;
}
.lute_pic_l img{
  float: right;
}
.lute_pic_r{
  float: right;
  width: 20%;
}
.lute_pic_r img{
  float: left;
}
.logo_centre{
/*
  padding-left: 25%;
  padding-right: 25%;
*/
}

#topstuff{
  background-color: #EEE;
  width: 90%;
  padding: 3px;
  margin: 6px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #AAB;
}

#assignment, #user{
  font-size: 110%;
  margin: 3px;
}
.dates{
  font-size: 80%;
}
#submitted span{
  color: blue;
}
#unsubmitted {
  color: red;
}
.navbutton{
  font-weight: bold;
  letter-spacing: -0.3em;
}

#changepwdbutton, #viewprevbutton, #logout {
  font-size: 60%;
  color: #336;
  padding-right: 4px;
  padding-left: 4px
}

#user{
  font-family: monospace;
}

.clear {
  clear: both;
  width: 100%;
  overflow: auto;
}

.left {
  float: left;
  width: 45%;
}
.threequarterleft {
  float: left;
  width: 75%;
}

.quarterright {
  width: 25%;
  float: right;
}
.right {
  width: 45%;
  float: right;
}

#menubar {
  background-color: #EEE;
  width: 90%;
  padding: 3px;
  margin: 6px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #AAB;
}

#notation{
  height: 220px;
}

#assignmentbar {
  background-color: #EEE;
  width: 90%;
  padding: 3px;
  margin: 6px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #AAB;
}

.editbutton, .leditbutton, .reditbutton{
  background-color: #EEE;
  border: none;
  cursor: pointer;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
a.editbutton, a.leditbutton, a.reditbutton{
    text-decoration: none;
}
#tuning{
  font-style: italic;
}

.editbutton:hover, .leditbutton:hover, .reditbutton:hover{
  background-color: #DDF;
}

.reditbutton{
  border-right: 1px solid #AAB;
}
.leditbutton{
  border-left: 1px solid #AAB;
}

#image, #editor{
  margin-left: 9px;
}

#preview {
  border: 1px solid black;
/*  right: 15px;*/
}
#zoomed {
  position: absolute;
  left: 15px;
  bottom: 15px;
  border: 1px solid black;
}
/* LOGIN WINDOW */

#login {
  z-index: 101;
  position: fixed;
  left: 5px;
/*  top: 5px; */
  top: 118px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  border: 1px solid #AAB;
  /* width: 100%; */
  /* height: 100%; */
  padding: 3em;
  background-color: #EEE;
}
#login h1 {
  font-family: sans-serif;
  font-size: large;
}
#login input {
  font-family: sans-serif;
  font-size: medium;
  margin: 9px 0px 15px;
}
#login div {
  border: none;
  min-height: 1.5em;
}

/* Save status lamp */
.lamp {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;  
}
.lampsaved {
    background: #40d32a; 
    background: -moz-radial-gradient(center, ellipse cover, #40d32a 0%, #207215 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #40d32a 0%,#207215 100%);
    background: -o-radial-gradient(center, ellipse cover, #40d32a 0%,#207215 100%); 
    background: -ms-radial-gradient(center, ellipse cover, #40d32a 0%,#207215 100%);
    background: radial-gradient(center, ellipse cover, #40d32a 0%,#207215 100%);
}
.lampunsaved {
    background: #FF0000;
    background: -moz-radial-gradient(center, ellipse cover, #FF0000 0%, #BF0000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #FF0000 0%,#BF0000 100%);
    background: -o-radial-gradient(center, ellipse cover, #FF0000 0%,#BF0000 100%); 
    background: -ms-radial-gradient(center, ellipse cover, #FF0000 0%,#BF0000 100%);
    background: radial-gradient(center, ellipse cover, #FF0000 0%,#BF0000 100%);
}

/* tcdiv */

#tcspan {
  border-radius: 5px;
  border: 1px solid #AAB;
  padding: 3em;
  background-color: #EEE;
}
embed{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 5px;
  width: 5px;
}
.emphatic{
  color: crimson;
}
